In [1]:
import pymongo
import pandas as pd
from datetime import datetime

In [2]:
symbolList = ['btc.usd.q:okef', 'eth.usd.q:okef', 'eos.usd.q:okef', 'ltc.usd.q:okef']

client = pymongo.MongoClient('172.16.11.81', 27017)

In [3]:
from datetime import datetime

def readAll(collection, start, end):
    return pd.DataFrame(
        list(collection.find({"datetime": {'$gt': start, '$lt': end}}))
    )

In [4]:
for s in symbolList:
    print(s)
    data = readAll(client['VnTrader_1Min_Db'][s], datetime(2019,1,1), datetime(2019,12,31))
    data.to_csv('%s.csv'%s[:3])

btc.usd.q:okef
eth.usd.q:okef
eos.usd.q:okef
ltc.usd.q:okef

In [6]:
dataIf = readAll(client['VnTrader_1Min_Db_contest']['IF88:CTP'], datetime(2014,11,30), datetime(2019,11,30))
dataIf.to_csv('IF88.csv')

In [10]:
dataIf.tail()

,_id,close,date,datetime,exchange,high,low,open,openInterest,symbol,time,trading_date,volume,vtSymbol
300805,5de6584a76a01f64b3178dcd,3828.4,20191129,2019-11-29 14:55:00,CTP,3829.2,3827.4,3829.0,94383,IF88,14:55:00,2019-11-29,353,IF88:CTP
300806,5de6584a76a01f64b3178dce,3826.0,20191129,2019-11-29 14:56:00,CTP,3828.4,3825.8,3827.8,94545,IF88,14:56:00,2019-11-29,291,IF88:CTP
300807,5de6584a76a01f64b3178dcf,3826.8,20191129,2019-11-29 14:57:00,CTP,3827.2,3825.8,3826.0,94866,IF88,14:57:00,2019-11-29,520,IF88:CTP
300808,5de6584a76a01f64b3178dd0,3826.8,20191129,2019-11-29 14:58:00,CTP,3827.4,3826.4,3826.4,95106,IF88,14:58:00,2019-11-29,466,IF88:CTP
300809,5de6584a76a01f64b3178dd1,3827.4,20191129,2019-11-29 14:59:00,CTP,3829.2,3826.2,3827.2,95475,IF88,14:59:00,2019-11-29,794,IF88:CTP

In [10]:
# dataDict = {s[:3]: pd.read_csv('%s.csv'%s[:3]) for s in symbolList}

In [12]:
# dataDict

In [13]:
# for df in dataDict.values():
#     df['datetime'] = list(map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"), df['datetime']))
#     df.pop('_id')
#     df.pop('Unnamed: 0')

In [14]:
# dataDict['btc'].tail()

,close,date,datetime,exchange,high,low,open,openInterest,symbol,time,timestamp,volume,vtSymbol
349881,10149.99,20190731,2019-07-31 23:55:00,okef,10155.00,10148.72,10154.99,0,btc.usd.q,23:55:00,1564588500,2685.0,btc.usd.q:okef
349882,10149.35,20190731,2019-07-31 23:56:00,okef,10154.47,10148.09,10149.99,0,btc.usd.q,23:56:00,1564588560,4599.0,btc.usd.q:okef
349883,10145.61,20190731,2019-07-31 23:57:00,okef,10155.00,10144.17,10149.35,0,btc.usd.q,23:57:00,1564588620,18491.0,btc.usd.q:okef
349884,10148.48,20190731,2019-07-31 23:58:00,okef,10148.48,10139.99,10145.61,0,btc.usd.q,23:58:00,1564588680,16881.0,btc.usd.q:okef
349885,10152.99,20190731,2019-07-31 23:59:00,okef,10153.00,10148.47,10148.47,0,btc.usd.q,23:59:00,1564588740,6377.0,btc.usd.q:okef

In [7]:
client = pymongo.MongoClient('localhost', 33333)

In [11]:
def updateData(symbol, dataCsv):
    collection = client['VnTrader_1Min_Db_Case'][symbol]
    collection.create_index([('datetime', pymongo.ASCENDING)], unique=True)
    for index, row in dataCsv.iterrows():
        bar = {}
        bar['open'] = row.open
        bar['close'] = row.close
        bar['high'] = row.high
        bar['low'] = row.low
        bar['volume'] = row.volume
        bar['symbol'] = symbol
        bar['vtSymbol'] = symbol
        bar['datetime'] = row.datetime
        bar['date'] = bar['datetime'].date().strftime('%Y%m%d')
        bar['time'] = bar['datetime'].time().strftime('%H:%M:%S')
        ######################################
        flt = {'datetime': bar['datetime']}
        ######################################
        collection.update_one(flt, {'$set':bar}, upsert=True)
    return '%s Done'%symbol

In [12]:
# for s, df in dataDict.items():
updateData('IF88:CTP', dataIf)

'IF88:CTP Done'

In [13]:
dataBTC = pd.read_csv('btc.csv')

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)